<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/chroma.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/ngl.js"></script>
</head>
<body>
    <div id="viewport" style="width: 800px; height: 600px;"><button onclick="processFile()">Process PDB File</button></div>
</body>

<script>
    function processFile() {
        // 假设您的后端接口URL是 /api/getpdbfile
        var backendApiUrl = '/send3D/';

        fetch(backendApiUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.blob(); // 将响应体解析为Blob
            })
            .then(blob => {
                // 使用FileReader来读取Blob内容
                var reader = new FileReader();
                reader.onload = function(event) {
                    var pdbContent = event.target.result;
                    processResponse({responseText: pdbContent});
                };
                reader.onerror = function(event) {
                    console.error("Error reading file: ", event);
                };
                reader.readAsText(blob, 'UTF-8'); // 读取Blob中的文本内容
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }
    
    function processResponse(response) {
        f = chroma.scale(['blue', 'white', 'red']).domain([0, 1]);
        let linesArray = response.responseText.split("\n");
        let totLines = [];
        for (var i = 0; i < linesArray.length; i++) {
            let currentLine = linesArray[i];
            if (currentLine.substring(0, 4) == "ATOM") {
                let currNumber = currentLine.substring(23, 26).split(' ').join('') + "-" + currentLine.substring(23, 26).split(' ').join('');
                let currValue = currentLine.substring(62, 66).split(' ').join('');
                lines = [f(currValue).hex(), currNumber];
                totLines.push(lines);
            }
        }
    
        // var stage = new NGL.Stage("viewport");  
    
        var stage = new NGL.Stage("viewport", { backgroundColor: 'lightpink' }); // 设置背景颜色为粉色

        var blob = new Blob([response.responseText], {type: "text/plain"});
        var file = new File([blob], "result_model.pdb", {type: "text/plain;charset=utf-8"});
    
        stage.loadFile(file).then(function (o) {
            var schemeId = NGL.ColormakerRegistry.addSelectionScheme(totLines, 'pocket miner');
            o.addRepresentation("ribbon", { colorScheme: schemeId });
            o.autoView();
        }).catch(function (error) {
            console.error('Error loading file:', error);
        });
    }
    
    processFile();
</script>

</html>