body {
    /* background-color: white; */
    margin: 0;
    padding: 0;
}

.resultcontainer {
    /* background-color: white; */
    display: flex;
}

.index {
    border-top: #404040;
    width: 25%;
    background-color: white;
    /* background-color: #a52a2a; */
    /* width: 300px; */
    /* background-color: blue; */
    flex: 0 0 200px;
    /* 左边索引的宽度 */
    padding: 0px;
    /* 左边索引的宽度 */
    position: fixed;
    /* 将索引固定在浏览器窗口 */
    top: 0;
    /* 索引距离浏览器窗口顶部的距离 */
    left: 0;
    /* 索引距离浏览器窗口左侧的距离 */
    overflow-y: auto;
    /* 如果索引内容溢出，则添加滚动条 */
    height: 100vh;
    /* 索引区域的高度为浏览器窗口的高度 */
}

.content {
    width: 75%;
    /* background-color: white; */
    /* background-color: aqua; */
    flex: 1;
    /* padding: 20px; */
    margin-left: 305px;
    /* 确保内容区域不被索引区域遮挡 */
}

.card {
    padding-left: 30px;
    background-color: white;
    /* background-color: white; */
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.cdtitle {
    margin-left: -30px;
    padding-left: 20px;
    height: 45px;
    background-color: brown;
    width: 100%+10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 45px;
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 700;
    color: white;
}

.stacard {
    background-color: white;
    padding-left: 30px;
    padding-top: 20px;
    height: 660px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;



}

.lco {
    float: left;
    height: 100%;
    width: 60%;
    /* background-color: aqua; */



}

.rco {
    float: left;
    height: 100%;
    width: 40%;
    /* background-color: blue; */


}

.Dstructure {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 300px;
    /* background-color: antiquewhite; */
}

#structure_image {
    width: 100%;
    height: 100%;
}

#section0 {
    height: 270px;
}

#section1 {
    height: 940px;
}

#section2 {
    height: 1630px;
}

#section3 {
    height: 360px;
}

#section4 {
    height: 335px;
}

#section5 {
    height: 270px;
}

.PDBID {
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#License {
    margin-top: 15px;
    color: #404040;
    padding-left: 20px;
    height: 60px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.Level1heading {
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#Sequence {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 300;
    padding: 5px;
    width: 800px;
    word-wrap: break-word;
    word-break: break-all;
    border: 2px solid #666699;
}

#indexbox a {
    color: inherit;
    /* 继承父元素的文字颜色 */
    text-decoration: none;
    /* 取消下划线 */
}

/* #indexbox{
    margin-top: 65px !important;
}
.resultcontainer{
    margin-top: 65px !important;
} */

/* #result-card{
    padding-top: 65px;
} */