
#table-1 thead,
#table-1 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d3dfed;
}

#table-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3dfed;
    margin-left: -50px;
}


#table-1 td,
#table-1 th {
    padding: 5px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: #5e81a8;
}


#table-1 tr:nth-child(even) {
    background: #d3dfed
}

#table-1 tr:nth-child(odd) {
    /* background: #FFF */
    background: #d3dfed
}

/* 定位 */
#table-1{
    margin: auto;
    margin: auto;
}