# Python & System
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Django
*.log
db.sqlite3
media/
static/staticfiles/

# Algorithm Outputs
output_results/
*.pdb
*.dcd
*.pkl

# Large Model Weights (Github 限制 100MB，建议忽略并提供下载链接)
models/**/*.pth
models/**/*.ckpt
models/**/*.index
models/**/*.data*

# Environment & Binaries
.env
venv/
env/
ngrok
cloudflared
micromamba