<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

<body>
    <!-- 导航栏 -->
    <div class="nav0">
        <div class="logo"></div>
        <div class="nav2">
            <ul id="nav">
                <li><a href="/home/" style="color:rgb(240,119,117);"><i class="fa fa-desktop"></i> Home</a> </li>
                <li><a href="/search/"><i class="fa fa-search"></i> Search</a></li>
                <li><a href="/prediction/"><i class="fa fa-flask"></i> Prediction</a></li>
                <li><a href="/help/"><i class="fa fa-compass"></i> Help</a></li>
                <li><a href="/user/"><i class="fa fa-user-circle-o"></i> User</a></li>
            </ul>
        </div>


        <div class="avatar">
            <div class="portrait"></div>
            <div class="name">
                <span><i class="fa fa-graduation-cap"></i> Welcome, Shmily &nbsp; <a href="/logout/"><i class="fa fa-sign-out"></i></a></span>
            </div>
        </div>
    </div>

    
    <div class="home-content1">
        <div class="content-title">
            <i class="fa fa-tags"></i> What is PocketSeeker ?
        </div>
        <div class="content">
            &nbsp; &nbsp; <strong><i class="fa fa-bookmark-o"></i></strong> PocketSeeker is a graph-based deep learning model designed to 
            predict the possible locations of protein pockets and provide visualization results.
            As shown in Figure 1.
        </div>
    </div>

    <div class="img1-con">
        <div class="content-title">
            <i class="fa fa-check-square-o"></i> Figure 1
        </div>
        <img src="../images/likehood-example.png" alt="likehood-example" class="home-content1-img1">
        <img src="../images/out-example.png" alt="Figure 1" class="home-content1-img2">
    </div>

    <div class="img2-con">
        <div class="content-title">
            <i class="fa fa-check-square-o"></i>
            <br>
            <br> Figure
            <br>
            <br> 2
        </div>
        <img src="../images/pocket.png" alt="pocket" class="home-content2-img">
    </div>

    <div class="home-content2">
        <div class="content-title">
            <i class="fa fa-tags"></i> What is protein pocket ?
        </div>
        <div class="content">
            &nbsp; &nbsp; <strong><i class="fa fa-bookmark-o"></i></strong> A protein pocket refers to a cavity structure on the surface 
            or inside of a protein, which can interact specifically with other molecules 
            and plays a vital role in protein function prediction and drug design.
            As shown in Figure 2, the light cyan area represents the protein pocket.
        </div>
    </div>


    <!-- 底栏 -->
    <div class="footer">
        <div class="sub_logo"> 
            <img src="../images/logo.png" alt="logo">
        </div>
        <div class="copyright">
            <span><i class="fa fa-copyright"></i> CopyRight 2024 PocketSeeker</span>
        </div>
        <div class="about">
            <span><i class="fa fa-balance-scale"></i> Legal Notices & Manage Cookies</span>
        </div>
        <div class="contact-info">
            <span><i class="fa fa-envelope-o"></i> Contact us shily_ld@foxmail.com</span>
        </div>
    </div>



</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/@antv/g2plot@latest/dist/g2plot.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
<script src="../js/index.js"></script>



</html>