<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polymerization Search</title>

    <link rel="stylesheet" href="https://unpkg.com/mdui@2/mdui.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../src/assets/css/search_new.css">
    <link rel="stylesheet" href="../src/assets/css/tablestyle.css">
    <link rel="stylesheet" href="../src/assets/css/search_new_resultcard.css">
    <link rel="stylesheet" href="../src/assets/css/indexmin.css">

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <script src="../src/assets/js/jquery.min.js"></script>
	<script src="../src/assets/js/chroma.min.js"></script>
    <script src="https://unpkg.com/mdui@2/mdui.global.js"></script>
    <script src="../src/assets/js/search_new.js"></script>
    
</head>

<body>

    <!-- 导航栏 -->
    <div class="nav0">
        <div class="logo"></div>
        <div class="nav2">
            <ul id="nav">
                <li><a href="/home/"><i class="fa fa-desktop"></i> Home</a> </li>
                <li><a href="/search/" style="color:rgb(240,119,117);"><i class="fa fa-search"></i> Search</a></li>
                <li><a href="/prediction/"><i class="fa fa-flask"></i> Prediction</a></li>
                <li><a href="/help/"><i class="fa fa-compass"></i> Help</a></li>
                <li><a href="/user/"><i class="fa fa-user-circle-o"></i> User</a></li>
            </ul>
        </div>
        <div class="avatar">
            <div class="portrait"></div>
            <div class="name">
                <span><i class="fa fa-graduation-cap"></i> Welcome, Shmily &nbsp; <i class="fa fa-sign-out"></i></span>
            </div>
        </div>
    </div>
    <!-- 导航栏 -->

    <!-- 蓝色盖板 -->
    <div class="overlay" id="overlay">
        <div class="overlay_title">Polymerization Search</div>
        <div class="overlay_content">This site integrates data from seven authoritative protein databases, including
            RCSB PDB, UniPort, ATLAS, ECOD, CATH, SCOP, and SWORD, and provides you with a comprehensive protein
            information service focusing on the structure, function, dynamic properties, and interactions of proteins.
        </div>
    </div>
    <!-- 蓝色盖板 -->

    <div style="width: 100%;height: 65px;"></div>

    <!-- 搜索 -->
    <div id="container" class="container">
        <!-- 搜索容器 -->
        <div class="search-container">
            <!-- 搜索框 -->
            <div class="search-box">
                <form id="search_form" class="search-dropdown" onsubmit="handleFormSubmit(event)">
                    <!-- 下拉选择框 -->
                    <label for="selectBox"></label>
                    <select id="selectBox" name="selectedOption">
                        <option value="PDBID">PBD ID</option>
                        <option value="UniProtID">UniProt ID</option>
                        <option value="Sequence">Sequence</option>
                    </select>

                    <!-- 输入框 -->
                    <input type="text" class="search-input" id="searchInput" placeholder="Enter search content">
                    <!-- 搜索按钮 -->
                    <button class="search-button" id="searchButton" type="submit"><i class="fa fa-search"></i>
                        Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- 搜索 -->

    <!-- Result -->
    <div id="result-card" class="resultcontainer">
        <!-- 左边栏begin -->
        <div id="indexbox" class="index">
            <mdui-list-subheader>Protein polymerization search</mdui-list-subheader>
            <mdui-collapse class="example-value">
                <mdui-collapse-item value="item-1">
                    <mdui-list-item slot="header"><svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg> <a href="#Overview">Overview</a></mdui-list-item>
                </mdui-collapse-item>

                <mdui-collapse-item value="item-2">
                    <mdui-list-item slot="header"><svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg> <a href="#Function">Function</a></mdui-list-item>
                    <div style="margin-left: 2.5rem">
                        <mdui-list-item><a href="#Main">Main</a></mdui-list-item>
                        <mdui-list-item><a href="#GO_annotations">GO annotations</a></mdui-list-item>
                    </div>
                </mdui-collapse-item>

                <mdui-collapse-item value="item-3">
                    <mdui-list-item slot="header"><svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg> <a href="#Names_Taxonomy">Names & Taxonomy</a></mdui-list-item>
                    <div style="margin-left: 2.5rem">
                        <mdui-list-item><a href="#Protein_names">Protein names</a></mdui-list-item>
                        <mdui-list-item><a href="#Proteomes">Proteomes</a></mdui-list-item>
                        <mdui-list-item><a href="#Cellular_component">Cellular component</a></mdui-list-item>
                        <mdui-list-item><a href="#Gene_names">Gene names</a></mdui-list-item>
                        <mdui-list-item><a href="#Organism_names">Organism names</a></mdui-list-item>
                        <mdui-list-item><a href="#Accessions">Accessions</a></mdui-list-item>
                    </div>
                </mdui-collapse-item>

                <mdui-collapse-item value="item-4">
                    <mdui-list-item slot="header"><svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg> <a href="#Structuralanddynamicproperties">Structural <br>& dynamic
                            properties</a></mdui-list-item>
                    <div style="margin-left: 2.5rem">
                        <mdui-list-item><a href="#Structural_features">Structural features</a></mdui-list-item>
                        <mdui-list-item><a href="#ECOD">ECOD</a></mdui-list-item>
                        <mdui-list-item><a href="#CATH">CATH</a></mdui-list-item>
                        <mdui-list-item><a href="#SCOP">SCOP</a></mdui-list-item>
                        <mdui-list-item><a href="#SWORD">SWORD</a></mdui-list-item>
                        <mdui-list-item><a href="#Dynamic_Properties">Dynamic Properties</a></mdui-list-item>
                    </div>
                </mdui-collapse-item>

                <mdui-collapse-item value="item-5">
                    <mdui-list-item slot="header"><svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg> <a href="#Interaction">Interaction</a></mdui-list-item>
                </mdui-collapse-item>

                <mdui-collapse-item value="item-6">
                    <mdui-list-item slot="header"><svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg> <a href="#Sequence">Sequence</a></mdui-list-item>
                </mdui-collapse-item>

                <mdui-collapse-item value="item-7">
                    <mdui-list-item slot="header"><svg class="bi bi-cursor" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z" />
                        </svg> <a href="#FamilyDomains">Family & Domains</a></mdui-list-item>
                    <div style="margin-left: 2.5rem">
                        <mdui-list-item><a href="#Sequence_similarities">Sequence similarities</a></mdui-list-item>
                        <mdui-list-item><a href="#Phylogenomic_databases">Phylogenomic
                                databases</a></mdui-list-item>
                    </div>
                </mdui-collapse-item>

            </mdui-collapse>
            </mdui-list>
        </div>
        <!-- 左边栏end -->
        <div class="content">
            <!-- 标题盒子 -->
            <div class="stacard" id="section-1">
                <div class="lco">
                    <div id="Overview" class="PDBID">3Q1C</div>
                    <div id="License">Structural and Functional Studies Indicate That the EPEC Effector, EspG,
                        Directly Binds p21-Activated Kinase.</div>

                    <div class="cdcontent">
                        <table id="one-column-emphasis">
                            <colgroup>
                                <col class="oce-first" />
                            </colgroup>
                            <thead>
                                <!-- <tr>
                                <th scope="col">Company</th>
                                <th scope="col">Q1</th>
                                <th scope="col">Q2</th>
                                <th scope="col">Q3</th>
                                <th scope="col">Q4</th>
                            </tr> -->
                            </thead>
                            <tbody>
                                <tr>
                                    <td>UniProt_entry:</td>
                                    <td></td>
                                    <td id="UniProtentry">B7UMC8 · B7UMC8_ECO27</td>
                                    <!-- <td>40.3</td> -->
                                </tr>
                                <tr>
                                    <td>PDB DOI:</td>
                                    <td></td>
                                    <td id="PDBDOI">https://doi.org/10.2210/pdb3Q1C/pdb</td>
                                    <!-- <td>39.3</td> -->
                                </tr>
                                <tr>
                                    <td>PubMed:</td>
                                    <td></td>
                                    <td id="PubMed">21235237</td>
                                    <!-- <td>36.7</td> -->
                                </tr>
                                <tr>
                                    <td>Classification:</td>
                                    <td></td>
                                    <td id="Classification">SIGNALING PROTEIN</td>
                                    <!-- <td>29.3</td> -->
                                </tr>
                                <tr>
                                    <td>Organism(s):</td>
                                    <td></td>
                                    <td id="Organism">Escherichia coli O127:H6 str. E2348/69</td>
                                    <!-- <td>29.3</td> -->
                                </tr>
                                <tr>
                                    <td>Mutation(s):</td>
                                    <td></td>
                                    <td id="Mutation">No</td>
                                    <!-- <td>29.3</td> -->
                                </tr>
                                <tr>
                                    <td>Gene:</td>
                                    <td></td>
                                    <td id="Gene">espG SPG</td>
                                    <!-- <td>29.3</td> -->
                                </tr>
                                <tr>
                                    <td>Expression System:</td>
                                    <td></td>
                                    <td id="ExpressionSystem">Escherichia coli BL21(DE3)</td>
                                    <!-- <td>29.3</td> -->
                                </tr>
                                <tr>
                                    <td>Amino acids:</td>
                                    <td></td>
                                    <td id="Aminoacids">398</td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <td>Length:</td>
                                    <td></td>
                                    <td id="Length">360</td>
                                    <!-- <td>29.3</td> -->
                                </tr>
                                <tr>
                                    <td>PDB file:</td>
                                    <td></td>
                                    <td>
                                        <a id="download_link" href="https://files.rcsb.org/download/3Q1C.pdb">[download]</a>
                                    </td>
                                    <!-- <td>29.3</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="rco">
                    <div class="Dstructure">
                        <img id="structure_image" src="Mainapp/templates/DynPocket/src/assets/imgs/3q1c_chain-A.jpeg" alt="">
                    </div>
                </div>
            </div>
            <!-- 标题盒子 -->

            <!-- ------------  ------------  ----------- 华丽的分割线 ------------  ------------  ------------ -->

            <div class="card" id="section0">
                <div class="cdtitle">
                    <span id="Function">Function</span>
                </div>
                <div id="Main" class="Level1heading">Alpha-tubulin-specific protease.</div>
                <div id="GO_annotations">GO annotations-><a id="GOlink" style="margin-left: 5px;"
                        href="https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=B7UMC8"><svg
                            class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                            <path fill-rule="evenodd"
                                d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                        </svg></a>
                </div>

                <div class="cdcontent">
                    <table id="ver-minimalist" summary="Most Favorite Movies" style="width: 800px;margin-top: 20px;">
                        <thead>
                            <tr>
                                <th scope="col">Cellular Component</th>
                                <th scope="col">Molecular Function</th>
                                <th scope="col">Biological Process</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="CellularComponent"><a href="https://www.ebi.ac.uk/QuickGO/term/GO:0005576">extracellular region<svg
                                            class="bi bi-link" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                            <path
                                                d="M6.764 6.5H7c.364 0 .706.097 1 .268A1.99 1.99 0 0 1 9 6.5h.236A3.004 3.004 0 0 0 8 5.67a3 3 0 0 0-1.236.83z" />
                                            <path
                                                d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                                            <path
                                                d="M8 11.33a3.01 3.01 0 0 0 1.236-.83H9a1.99 1.99 0 0 1-1-.268 1.99 1.99 0 0 1-1 .268h-.236c.332.371.756.66 1.236.83z" />
                                        </svg></a></td>
                                <td id="MolecularFunction"><a href="https://www.ebi.ac.uk/QuickGO/term/GO:0004197">cysteine-type endopeptidase activity<svg class="bi bi-link" width="1em" height="1em"
                                            viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                            <path
                                                d="M6.764 6.5H7c.364 0 .706.097 1 .268A1.99 1.99 0 0 1 9 6.5h.236A3.004 3.004 0 0 0 8 5.67a3 3 0 0 0-1.236.83z" />
                                            <path
                                                d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                                            <path
                                                d="M8 11.33a3.01 3.01 0 0 0 1.236-.83H9a1.99 1.99 0 0 1-1-.268 1.99 1.99 0 0 1-1 .268h-.236c.332.371.756.66 1.236.83z" />
                                        </svg></a></td>
                                <td id="BiologicalProcess">proteolysis</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ------------  ------------  ----------- 华丽的分割线 ------------  ------------  ------------ -->

            <div class="card" id="section1">
                <div class="cdtitle">
                    <span id="Names_Taxonomy">Names & Taxonomy</span>
                </div>

                <div id="Protein_names" class="Level1heading">Protein names</div>
                <div class="cdcontent">
                    <table id="box-table-a">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>Submitted names</td>
                                <td id="Submittednames">LEE-encoded effector EspG</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Proteomes" class="Level1heading">Proteomes</div>
                <div class="cdcontent">
                    <table id="box-table-a">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>Identifier</td>
                                <td id="Identifier">UP000008205</td>
                            </tr>
                            <tr>
                                <td>Component</td>
                                <td id="Component">Chromosome</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Cellular_component" class="Level1heading">Cellular component</div>
                <div class="cdcontent">
                    <table id="box-table-a">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>Cellular component</td>
                                <td id="Cellularcomponent">Secreted</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Gene_names" class="Level1heading"> Gene names</div>
                <div class="cdcontent">
                    <table id="box-table-a">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td id="Name">espG SPG</td>
                            </tr>
                            <tr>
                                <td>Ordered locus</td>
                                <td id="Orderedlocus">E2348C_3970</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Organism_names" class="Level1heading">Organism names</div>
                <div class="cdcontent">
                    <table id="one-column-emphasis">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>Taxonomic identifier</td>
                                <td id="Taxonomicidentifier">574521 NCBI</td>
                            </tr>
                            <tr>
                                <td>Organism</td>
                                <td id="Organism">Escherichia coli O127:H6 (strain E2348/69 / EPEC</td>
                            </tr>
                            <tr>
                                <td>Strain</td>
                                <td id="Strain">E2348/69 / EPEC</td>
                            </tr>
                            <tr>
                                <td>Taxonomic lineage</td>
                                <td id="Taxonomiclineage">Cellular organisms > Bacteria (eubacteria) >
                                    Pseudomonadota >
                                    Gammaproteobacteria > Enterobacterales > Enterobacteriaceae > Escherichia >
                                    Escherichia coli >
                                    Escherichia coli O127</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Accessions" class="Level1heading">Accessions</div>
                <div class="cdcontent">
                    <table id="box-table-a">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>Primary accession</td>
                                <td id="Primaryaccession">B7UMC</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ------------  ------------  ----------- 华丽的分割线 ------------  ------------  ------------ -->

            <div class="card" id="section2">
                <div class="cdtitle">
                    <span id="Structuralanddynamicproperties">Structural and dynamic properties</span>
                </div>
                <div id="Structural_features" class="Level1heading">Structural features</div>
                <div class="cdcontent">
                    <table id="ver-minimalist" summary="Most Favorite Movies">
                        <thead>
                            <tr>
                                <th scope="col">alpha%:</th>
                                <th scope="col">beta%:</th>
                                <th scope="col">coil%:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="alpha">33</td>
                                <td id="beta">24</td>
                                <td id="coil">44</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="ECOD" class="Level1heading">ECOD</div>
                <div class="cdcontent">
                    <table id="hor-zebra" summary="Employee Pay Sheet">
                        <thead></thead>
                        <tbody>
                            <tr class="odd">
                                <td>ECOD_domain_ID</td>
                                <td id="ECODdomainID">e3q1cA1, e3q1cA2</td>
                            </tr>
                            <tr>
                                <td>ECOD_architecture</td>
                                <td id="ECODarchitecture">a+b two layers, a+b two layers</td>
                            </tr>
                            <tr class="odd">
                                <td>ECOD_ID</td>
                                <td id="ECODID">3180.1.1.1, 3667.1.1.1</td>
                            </tr>
                            <tr>
                                <td>ECOD_PDB_delineation</td>
                                <td id="ECODPDBdelineation">39-145, 146-395</td>
                            </tr>
                            <tr class="odd">
                                <td>ECOD_renum_delineation</td>
                                <td id="ECODrenumdelineation">1-107, 108-357</td>
                            </tr>
                            <tr>
                                <td>ECOD_X</td>
                                <td id="ECODX">-, -</td>
                            </tr>
                            <tr class="odd">
                                <td>ECOD_H</td>
                                <td id="ECODH">-, -</td>
                            </tr>
                            <tr>
                                <td>ECOD_T</td>
                                <td id="ECODT">LEE-encoded effector EspG N-terminal domain-related, LEE-encoded effector EspG C-terminal domain-related</td>
                            </tr>
                            <tr class="odd">
                                <td>ECOD_F</td>
                                <td id="ECODF">EspG_1st, EspG_2nd</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="CATH" class="Level1heading">CATH</div>
                <div class="cdcontent">
                    <table id="hor-zebra" summary="Employee Pay Sheet">
                        <thead></thead>
                        <tbody>
                            <tr class="odd">
                                <td>CATH_ID</td>
                                <td id="CATHID">3.10.450.460</td>
                            </tr>
                            <tr>
                                <td>CATH_PDB_delineation</td>
                                <td id="CATHPDBdelineation">39-140</td>
                            </tr>
                            <tr class="odd">
                                <td>CATH_renum_delineation</td>
                                <td id="CATHrenumdelineation">1-102</td>
                            </tr>
                            <tr>
                                <td>CATH_class</td>
                                <td id="CATHclass">Alpha Beta</td>
                            </tr>
                            <tr class="odd">
                                <td>CATH_architecture</td>
                                <td id="CATHarchitecture">Roll</td>
                            </tr>
                            <tr>
                                <td>CATH_topology</td>
                                <td id="CATHtopology">Nuclear Transport Factor 2; Chain</td>
                            </tr>
                            <tr class="odd">
                                <td>CATH_supfamily</td>
                                <td id="CATHsupfamily">EspG protein, N-terminal domain</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="SCOP" class="Level1heading">SCOP</div>
                <div class="cdcontent">
                    <table id="hor-zebra" summary="Employee Pay Sheet">
                        <thead></thead>
                        <tbody>
                            <tr class="odd">
                                <td>SCOP_PDB_delineation</td>
                                <td id="SCOPPDBdelineation">-</td>
                            </tr>
                            <tr>
                                <td>SCOP_renum_delineation</td>
                                <td id="SCOPrenumdelineation">-</td>
                            </tr>
                            <tr class="odd">
                                <td>SCOP_class</td>
                                <td id="SCOPclass">-</td>
                            </tr>
                            <tr>
                                <td>SCOP_fold</td>
                                <td id="SCOPfold">-</td>
                            </tr>
                            <tr class="odd">
                                <td>SCOP_supfamily</td>
                                <td id="SCOPsupfamily">-</td>
                            </tr>
                            <tr>
                                <td>SCOP_family</td>
                                <td id="SCOPfamily">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="SWORD" class="Level1heading">SWORD</div>
                <div class="cdcontent">
                    <table id="hor-zebra" summary="Employee Pay Sheet">
                        <thead></thead>
                        <tbody>
                            <tr class="odd">
                                <td>SWORD_ID</td>
                                <td id="SWORDID">Optimal • Dom. n°1</td>
                            </tr>
                            <tr>
                                <td>SWORD_quality</td>
                                <td id="SWORDquality">N/A</td>
                            </tr>
                            <tr class="odd">
                                <td>SWORD_renum_delineation</td>
                                <td id="SWORDrenumdelineation">1-360</td>
                            </tr>
                            <tr>
                                <td>SWORD_PDB_delineation</td>
                                <td id="SWORDPDBdelineation">39-398</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Dynamic_Properties" class="Level1heading">Dynamic Properties</div>
                <div class="cdcontent">
                    <table id="ver-minimalist" summary="Employee Pay Sheet">
                        <thead>
                            <tr>
                                <th scope="col">div_SE:</th>
                                <th scope="col">div_MM:</th>
                                <th scope="col">avg_RMSF:</th>
                                <th scope="col">avg_gyration:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="divSE">0.893</td>
                                <td id="divMM">0.89</td>
                                <td id="avgRMSF">1.21</td>
                                <td id="avggyration">21.17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ------------  ------------  ----------- 华丽的分割线 ------------  ------------  ------------ -->
            
            <div class="card" id="section3">
                <div class="cdtitle">
                    <span id="Interaction">Interaction</span>
                </div>

                <div style="margin-top: 15px;margin-bottom: 15px;">Monomer. Interacts specifically with alpha
                    tubulin, a major component of microtubule.</div>
                <div class="cdcontent">
                    <table id="one-column-emphasis">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead>
                            <!-- <tr>
                            <th scope="col">Company</th>
                            <th scope="col">Q1</th>
                            <th scope="col">Q2</th>
                            <th scope="col">Q3</th>
                            <th scope="col">Q4</th>
                        </tr> -->
                        </thead>
                        <tbody>
                            <tr>
                                <td>contact_chain</td>
                                <td id="contactchain">TRUE</td>
                            </tr>
                            <tr>
                                <td>contact_ligand</td>
                                <td id="contactligand">TRUE</td>
                            </tr>
                            <tr>
                                <td>contact_ion</td>
                                <td id="contaction">TRUE</td>
                            </tr>
                            <tr>
                                <td>contact_nucleotide</td>
                                <td id="contactnucleotide">TRUE</td>
                            </tr>
                            <tr>
                                <td>no_contact</td>
                                <td id="nocontact">FALSE</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ------------  ------------  ----------- 华丽的分割线 ------------  ------------  ------------ -->
            
            <div class="card" id="section4">
                <div class="cdtitle">
                    <span>Sequence</span>
                </div>

                <!-- <div id="Sequence">SHMASSWDEMSCAEKLLKVLSFGLWNPTYSRSERQSFQELLTVLEPVYPLPNELGRVSARFSDGSSLRISVTNSESIEAEIRTPDNEKITVLLESNEQNRLLQSLPIDRHMPYIQVHRALSEMDLTDTTSMRNLLGFTSKLSTTLIPHNAQTDPLSGPTPFSSIFMDTCRGLGNAKLSLNGVDIPANAQMLLRDALGLKDTHSSPSRNVIDHGISRHDAEQIARESSGSDNQKAEVVEFLCHPEAATAICSAFYQSFNVPALTLTHERISKASEYNAERSLDTPNACINISISQSSDGNIYVTSHTGVLIMAPEDRPNEMGMLTNRTSYEVPQGVKCTIDEMVRALQPRYAASETYLQNT</div> -->

                <div class="cdcontent" style="margin-top: 15px;">
                    <table id="ver-minimalist" summary="Employee Pay Sheet">
                        <thead>
                            <tr>
                                <th scope="col">non_redundant_protein</th>
                                <th scope="col">non_redundant_domain</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="nonredundantprotein">True</td>
                                <td id="nonredundantdomain">True, True</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="Sequence">
                    SHMASSWDEMSCAEKLLKVLSFGLWNPTYSRSERQSFQELLTVLEPVYPLPNELGRVSARFSDGSSLRISVTNSESIEAEIRTPDNEKITVLLESNEQNRLLQSLPIDRHMPYIQVHRALSEMDLTDTTSMRNLLGFTSKLSTTLIPHNAQTDPLSGPTPFSSIFMDTCRGLGNAKLSLNGVDIPANAQMLLRDALGLKDTHSSPSRNVIDHGISRHDAEQIARESSGSDNQKAEVVEFLCHPEAATAICSAFYQSFNVPALTLTHERISKASEYNAERSLDTPNACINISISQSSDGNIYVTSHTGVLIMAPEDRPNEMGMLTNRTSYEVPQGVKCTIDEMVRALQPRYAASETYLQNT
                </div>
            </div>

            <!-- ------------  ------------  ----------- 华丽的分割线 ------------  ------------  ------------ -->
            
            <div class="card" id="section5">
                <div class="cdtitle" style="margin-bottom: 20px;">
                    <span id="FamilyDomains">Family & Domains</span>
                </div>

                <div id="Sequence_similarities" class="Level1heading">Sequence similarities</div>
                <span>Belongs to the protease EspG/VirA family<a id="Belongstofamilylink" style="margin-left: 5px;"
                        href="https://www.uniprot.org/uniprotkb?query=%28family%3A%22protease+EspG%2FVirA+family%22%29"><svg
                            class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                            <path fill-rule="evenodd"
                                d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                        </svg></a></span>

                <div id="Phylogenomic_databases" class="Level1heading">Phylogenomic databases</div>
                <div class="cdcontent">
                    <table id="box-table-a">
                        <colgroup>
                            <col class="oce-first" />
                        </colgroup>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>HOGENOM</td>
                                <td id="HOGENOM">CLU_725101_0_0_6<a style="margin-left: 5px;"
                                        href="http://hogenom.univ-lyon1.fr/query_sequence?seq=B7UMC8"><svg
                                            class="bi bi-box-arrow-up-right" width="1em" height="1em"
                                            viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                                            <path fill-rule="evenodd"
                                                d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                                        </svg></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Result -->

    <script>
        const collapse = document.querySelector(".example-value");
        // collapse.value = ["item-1", "item-2"];
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var links = document.querySelectorAll(".index a");
            links.forEach(function (link) {
                link.addEventListener("click", function (e) {
                    e.preventDefault(); // 阻止默认行为
                    var targetId = this.getAttribute("href"); 
                    var targetElement = document.querySelector(targetId); 
                    targetElement.scrollIntoView({
                        behavior: "smooth"
                    });
                });
            });
        });
    </script>

</body>
</html>