body {
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.help-step1 {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: -250px;
    margin-left: -500px;
    margin-right: 40px;
    width: 35%;
    height: 30%;
    border-radius: 20px; /* 添加圆角效果 */
    border: 2px solid rgba(240,119,117,0.3);
    box-shadow: 5px 5px 10px rgba(240,119,117, 0.3);
}
.step-title {
    font-size: 25px;
    font-family: 'STXinwei';
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    color: rgb(240,119,117);
}
.step-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 2;
    font-family: 'STXinwei';
    color: black;
    text-align: justify;
}
.help-step2 {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: -250px;
    margin-right: -500px;
    width: 35%;
    height: 30%;
    border-radius: 20px; /* 添加圆角效果 */
    border: 2px solid rgba(240,119,117,0.3);
    box-shadow: 5px 5px 10px rgba(240,119,117, 0.3);
}
.help-step3 {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 250px;
    margin-left: -435px;
    margin-right: 40px;
    width: 35%;
    height: 30%;
    border-radius: 20px; /* 添加圆角效果 */
    border: 2px solid rgba(240,119,117,0.3);
    box-shadow: 5px 5px 10px rgba(240,119,117, 0.3);
}
.help-step4 {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 250px;
    /* margin-left: 400px; */
    margin-right: -500px; 
    width: 35%;
    height: 30%;
    border-radius: 20px; /* 添加圆角效果 */
    border: 2px solid rgba(240,119,117,0.3);
    box-shadow: 5px 5px 10px rgba(240,119,117, 0.3);
}