body {
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.home-content1{
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: -250px;
    margin-left: -400px;
    width: 40%;
    height: 26%;
    border-radius: 20px; /* 添加圆角效果 */
}
.content-title{
    font-weight: bold;
    color: black;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'STXinwei';
}
.content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'STXinwei';
    text-align: justify;
}
.img1-con {
    margin-top: 250px;
    margin-left: -507px;
    width: 30%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px; /* 添加圆角效果 */
}
.home-content1-img1 {
    margin-bottom: 20px;
    width: 10%;
    height: 70%;
    margin-left: 40px;
}
.home-content1-img2 {
    margin-top: -40px;
    margin-bottom: 20px;
    width: 60%;
    height: auto;
    margin-left: 40px;
}
.img2-con {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: -250px;
    margin-right: -400px;
    margin-left: 160px;
    width: 30%;
    height: 25%;
    border-radius: 20px; /* 添加圆角效果 */
}
.home-content2-img {
    width: 60%;
    height: 97%;
    margin-left: 120px;
    margin-top: -160px;
    margin-bottom: -20px;
}
.home-content2 {
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 250px;
    margin-right: -400px;
    margin-left: -100px;
    width: 39%;
    height: 35%;
    border-radius: 20px; /* 添加圆角效果 */
}