
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* 白色背景 */
    z-index: 9999; /* 确保模态框在最顶层 */
    display: block; /* 默认可见 */
}


body {
    background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 居中警告框 */
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}
/* 修改字体 */
.alert-message {
    font-family: 'STXinwei';
    font-size:24px;
    text-align: center;
    line-height: 2;
    color: white;
    background-color: rgb(250,173, 20);
    line-height: 2;
    padding: 30px;
    height: 150px;
    width: 350px;
    border-radius: 5px; /* 边框圆角 */
}

.prediction_input_bottom {
    background-color: transparent; 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* 水平居中 */
    float: left;
}
#container {
    background-color: rgb(255,255,255);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}
#logo {
    max-width: 150px;
    margin: 0 auto 50px; /* 将上下外边距设置为0，左右外边距设置为auto */
    display: block; /* 将元素转换为块级元素，以便居中对齐 */
}
.prompts {
    margin-top: -40px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'STxinwei';
    font-size: 15px;
}
#result {
margin-top: 20px;
}

.upload_file {
    font-size: 20px;
    margin-right: 20px;
    color: black;
}
.custom-file-upload {
    width: 200px;
    height: 40px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    /* background-color: white; */
    border: 2px solid rgb( 0,120,215);
    border-radius: 4px;
}
.custom-file-upload:hover {
    background-color: rgb(244,244,244);
}
.custom-file-upload span {
    font-size: 18px;
    color: rgb(117,117,117);
    font-family: 'STXinwei';
}
.upload_file,
.custom-file-upload {
    display: inline-block;
    vertical-align: middle; /* 让它们在垂直方向上居中对齐 */
}
.upload_file {
    font-family: 'Robot';
}
/* 隐藏默认的文件选择按钮 */
.file_input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.or {
    font-size: 30px;
    margin-left: -300px;
    color: rgb(240,119,117);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'STXinwei';
}
enter{
    font-size: 20px;
}

.input-container {
    font-family: 'STXinwei';
    /* text-align: left; 确保内容在左侧对齐 */
}

.enter-dropdown, .enter-input {
    display: inline-block; /* 将元素设置为内联块级元素，使它们水平排列 */
    vertical-align: middle; /* 让它们在垂直方向上居中对齐 */
    /* margin-right: 10px; 设置右侧外边距，使得元素之间有一定的间隔 */
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    margin-top: 10px;
}
.enter-input {
    font-family: 'STXinwei';
}
.enter-dropdown {
    font-size: 20px;
    margin-right: 20px;
    width: 138px;
    border: 2px solid black;
    /* padding: 6px 12px; */
    border-radius: 4px;
    font-family: 'Robot';
}
.enter-input{
    font-size: 18px;
    width: 234px;
    height: 40px;
    border: 2px solid rgb( 0,120,215);
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.Predict_button {
    margin-top: 20px;
}
.Predict_button button{
    margin-top: 10px;
    background-color:  rgb(0,123,255);
    border-radius: 5px;
    border: 2px solid rgb( 0,120,215);
    color: white;
    width: 66%;
    height: 40px;
    font-size: 20px;
    font-family: 'STXinwei';
}
.Predict_button :hover{
    background-color: rgb(244,244,244);
    color: rgb(0,123,255);
}

.help_link {
    position: fixed;
    top: 120px; /* 距离顶部的距离 */
    left: 30px; /* 距离左侧的距离 */
    font-family: 'STXinwei';
    font-size: 18px;
    line-height: 1.5;
    color: white;
}
.help link p {
    color:white;
}
.help_link a {
    color: white;
}